.hope > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.empire > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.return > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.phantom > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.clones > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.revenge > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.awakens > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.last > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}
.question > * {
    float:left;
    margin-right:5px;
}
body > div {
    margin-bottom:20px;    
}